body {
  margin: 0;
  background-color: rgb(196, 196, 196)
}

.test {
  clip-path: circle(50% at 100% 50%);
}

.App {
  text-align: center;
  padding-top: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "CooperHewitt-Bold";
    src: local('CooperHewitt-Bold'), url(./fonts/CooperHewitt-Bold.woff) format('woff');
  }
  @font-face {
    font-family: "GT-Pressura-Bold";
    src: local('GT-Pressura-Bold'), url(./fonts/GT-Pressura-Bold.woff) format('woff');
  }
  @font-face {
    font-family: "GT-Pressura-Mono";
    src: local('GTPressuraMono'), url(./fonts/GTPressuraMono.woff) format('woff');
  }
  @font-face {
    font-family: "GT-Pressura-Mono-Bold";
    src: local('GT-Pressura-Mono-Bold'), url(./fonts/GT-Pressura-Mono-Bold.woff) format('woff');
  }
  @font-face {
    font-family: "GT-Pressura-Regular";
    src: local('GT-Pressura-Regular'), url(./fonts/GT-Pressura-Regular.woff) format('woff');
  }
  @font-face {
    font-family: "icomoon";
    src: local('icomoon'), url(./fonts/icomoon.woff) format('woff');
  }
}